<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" data-bs-theme="dark">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>multiplayer.yoga</title>


  <style>
    model-viewer#human {
      width: 100%;
      height: 100vh;
    }

    .title {
      position: absolute;
      bottom: 0;
      padding-left: 0.5rem;
    }
    
    #godot-target {
      display: none;
    }

  </style>



  <link type="text/plain" rel="author" href="/humans.txt">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

  <script type="importmap">
    {
      "imports": {
        "datastar": "https://cdn.jsdelivr.net/gh/starfederation/datastar@1.0.0-RC.6/bundles/datastar.js"
      }
    }
  </script>
  <%- include('datastar.ejs') %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/4.0.0/model-viewer.min.js"></script>

  <%- include('sound.ejs') %>




</head>

<body>
  <%-slots.body || slot%>

</body>

</html>
